<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580338374871-leca0rnt28fncivbse29458vr4sp5pq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580338374871-leca0rnt28fncivbse29458vr4sp5pq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBCSbzvG6h5qhi3dgpgKqvESHAEry1gV3c</string>
	<key>GCM_SENDER_ID</key>
	<string>580338374871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-29a20</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-29a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580338374871:ios:c452b183f4d0e9a8267892</string>
</dict>
</plist>